
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0%;
}

.container{
    max-width: 800px;
    margin: 0 auto;
    padding: 15px;
    background-color: rgb(255, 247, 236);
    color: black;
}

.titulo-principal{
    text-align: center;
    font-size: 2em;
}

.banner{
    text-align: center;
    
}

.banner img{
    max-width: 100%;
    height: auto;
}

.elenco{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.autor{
    text-align: center;
}

.autor img{
    width: 100px;
    height: 150px;
    object-fit: cover;
    border-radius: 7.5px;
}

